{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item">Имя: <b>{{ request.user.first_name }}</b></li>
            <li class="list-group-item">Юзернейм: <b>{{ request.user.username }}</b></li>
            <li class="list-group-item">Имеил: <b>{{ request.user.email }}</b></li>
            <li class="list-group-item">дата регистрации: <b>{{ request.user.date_joined }}</b></li>
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item">Лайков: <b class='text-success'>{{ total_likes }}</b></li>
            <li class="list-group-item">Дизлайков: <b class='text-danger'>{{total_dislikes}}</b></li>
            <li class="list-group-item">Просмотры: <b>{{ total_views }}</b></li>
            <li class="list-group-item">Кол-во статей: <b>{{ total_articles }}</b></li>
            <li class="list-group-item">Кол-во комментариев: <b>{{ total_comments }}</b></li>
        </ul>
    </div>
</div>
<div class="row row-gap-4 mt-5">
    {% for article in articles %}
    <div class="col-4">
        {% include './components/_card.html' %}
    </div>
    {% endfor %}
</div>
{% endblock %}